/* Importing Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #mainNav {
    @apply bg-darkPurple text-white;
  }

  #mainNav .menu-nav {
    @apply flex flex-col lg:flex-row lg:justify-center;
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 450ms;
  }

  #mainNav .menu-nav.show {
    height: 514px;
  }

  #mainNav .menu-nav.hide {
    @apply h-0 overflow-hidden;
  }

  #mainNav .menu-nav .menu-item {
    @apply flex items-center justify-center my-1 lg:my-0 lg:mx-1;
  }

  #mainNav .menu-nav .menu-item .menu-link {
    @apply border-transparent border-b-3 cursor-pointer block lg:inline-block w-full text-center py-5 px-8 hover:border-white hover:bg-gray-50 hover:bg-opacity-20;
  }

  #mainNav .menu-nav .menu-item .menu-link.active {
    @apply border-white bg-gray-50 bg-opacity-20;
  }

  #mainNav .menu-toggler {
    @apply ml-auto text-white rounded-lg outline-none bg-gray-900 p-4 my-2 mr-2 lg:hidden;
  }

  #mainNav .menu-nav .menu-item .menu-btn {
    @apply bg-indigo cursor-pointer rounded block lg:inline-block transition-colors duration-500 py-3 px-4 hover:border-white hover:bg-opacity-80;
  }

  #mainSection {
    background-image: url(./asset/img/bg.jpg);
    @apply bg-no-repeat bg-center bg-cover;
  }

  .games {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 px-4 lg:px-0;
  }
  .games > * {
    @apply rounded-lg overflow-hidden shadow-lg;
  }

  .game {
    @apply rounded-lg overflow-hidden text-white text-center cursor-pointer mx-auto;
  }

  .game .game-top {
    @apply bg-lincolnGreen text-2xl py-3;
  }

  .game .game-starts {
    @apply bg-indigo uppercase py-3;
  }

  .game .game-starts p {
    @apply h-12 flex justify-center items-center;
  }

  .game .game-img img {
    @apply h-48 w-full object-cover;
  }

  .tournaments {
    @apply grid grid-cols-1 gap-6 text-white px-4 md:grid-cols-2 lg:grid-cols-4 lg:px-0;
  }

  .tournaments > * {
    @apply rounded-lg overflow-hidden shadow-lg;
  }

  .tournaments .tournament {
    @apply bg-indigo rounded-lg overflow-hidden;
  }

  .tournaments .tournament-img img {
    @apply w-full h-52 object-cover;
  }

  .tournaments .tournament-body {
    @apply p-3;
  }

  .tournaments .tournament-body > * {
    @apply mb-3;
  }

  .tournaments .tournament-body .tournament-title {
    @apply text-xl font-bold;
  }

  .tournaments .tournament-body .tournament-date {
    @apply text-sm;
  }

  .tournaments .tournament-body .tournament-date .tournament-date-1 {
    @apply mr-2;
  }

  .tournaments .tournament-body .tournament-date .tournament-date-2 {
    @apply text-red-500;
  }

  .tournaments .tournament-keyval .tournament-key {
    @apply bg-darkPurple bg-opacity-50 rounded text-sm px-2 py-1 mr-2;
  }

  .tournament-details {
    @apply px-4 lg:px-0;
  }

  .tournament-details .tournament-details-block {
    @apply flex flex-col lg:flex-row bg-white text-white bg-opacity-5 backdrop-filter backdrop-blur-sm rounded-lg p-5 mb-3;
  }

  .tournament-details .tournament-details-block .tournament-details-block-img {
    @apply w-full h-40 lg:w-60 lg:h-60 object-cover rounded shadow-lg mb-3 lg:mb-0 lg:mr-5;
  }

  .tournament-details .tournament-details-block .tournament-details-block-info {
    @apply flex-grow;
  }

  .tournament-details .tournament-details-block .tournament-details-block-info .tournament-name {
    @apply text-3xl md:text-4xl font-bold mb-3;
  }

  .tournament-details .tournament-details-block .tournament-details-block-info .tournament-game-name {
    @apply mb-3;
  }

  .tournament-details .tournament-details-block-sm {
    @apply bg-white bg-opacity-5 backdrop-filter backdrop-blur-sm rounded-lg p-3;
  }

  .tournament-details .tournament-info-table {
    @apply table-auto;
  }
  
  .tournament-details .tournament-info-table tr td {
    @apply px-5 py-1;
  }
  
  .tournament-details .tournament-info-table tr td:first-child {
    @apply pl-0;
  }
  
  .tournament-details .tournament-info-table tr td:last-child {
    @apply pr-0;
  }

  .tournament-details .tournament-info-table tr td:not(:last-child) {
    @apply border-r;
  }

  .tournament-details .tournament-info-table thead tr td {
    @apply text-xs text-gray-400;
  }

  .tournament-details .tournament-info-table .table-header td {
    @apply text-xs;
  }
  
  .tournament-details .registration-timer {
    @apply text-gray-400 mr-4;
  }

  .tournament-details .registration-timer span {
    @apply text-3xl text-white;
  }

  .tournament-details .btn-enroll {
    @apply font-medium text-xl text-white bg-white bg-opacity-20 backdrop-filter backdrop-blur-sm shadow rounded py-3 px-4;
  }

  .tournament-details .btn-enroll:disabled {
    @apply cursor-default bg-white bg-opacity-10;
  }

}
